<h2>Lista de Matrículas</h2>
<button (click)="navigateTo('/')">Homepage</button>
<table>
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Aula</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let matricula of matriculas">
      <td>{{ matricula.alunoNome }}</td>
      <td>{{ matricula.aulaNome }}</td>
      <td>
        <button (click)="editMatricula(matricula.id)">Editar</button>
        <button (click)="deleteMatricula(matricula.id)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="addMatricula()">Adicionar Nova Matrícula</button>
