<h2>Lista de Alunos</h2>
<button (click)="navigateTo('/')">Homepage</button>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aluno of alunos">
      <td>{{ aluno.nome }}</td>
      <td>{{ aluno.email }}</td>
      <td>
        <button (click)="editAluno(aluno.id)">Editar</button>
        <button (click)="deleteAluno(aluno.id)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="addAluno()">Adicionar Novo Aluno</button>
